.about {
    flex-direction: column;
    margin-top: 3em;
  }
  
  .about__name {
    color: var(--clr-primary);
  }
  
  .about__role {
    margin-top: 1.2em;
  }
  
  .about__desc {
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
  }
  
  .about__desc,
  .about__contact {
    margin-top: 1em;
  }
  
  .about .link--icon {
    margin-right: 0.8em;
  }
  
  .about .btn--outline {
    margin-right: 1em;
  }
  
  @media (max-width: 600px) {
    .app .about {
      align-items: flex-start;
      margin-top: 2em;
    }
  }
  
.subtitle {
    margin-bottom: 3em;
}

.img_main {
    width: 70%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
}

.img_cart {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
}

.img_code {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #555;
}